.publication {
    width: 100%;
    height: 100vh;
    background:#3498db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.publication_card {
    width: 60vw;
    height: 300px;
    border: 1px solid black;
    border-radius: 1.5rem;
}