section div {
    padding: 0.3rem 0rem;
}
.containerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: blueviolet;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
}
.containerCard > .photoInProfil {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    object-fit: contain;
    border: 1px solid black;
}
.img_In_Profil {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    object-fit: cover;
    border: 1px solid black;
}